

<div class="products">

    <div *ngFor="let product of products">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/images/product.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" class="btn btn-primary">Add to card</a>
            </div>
        </div>
      
      </div> 



                        
</div>